$main-pink: #BB0038;
$main-yellow: rgb(230, 255, 0);
$white: white;
$olive: rgb(150, 160, 56);
$purple: #3B0012;

$font-main: 'Montserrat', sans-serif;


$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}
