@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/form';
@import 'layout/footer';

:root {
	font-family: $font-main;
}

.favorites{
    padding-left: rem(50);
    padding-bottom: rem(40);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__resetBtn{
     background-color: $main-pink;
     border-radius: rem(5);
     border: none;
     color: $white;
     cursor: pointer;
     width: rem(80);
     height: rem(30);
     &:hover{
        background-color: $main-yellow;
        color:black;  
     }
  

  }
    
    &__Title{
     width: rem(235);
     text-align: center;
     padding-top: rem(10);
     padding-bottom: rem(10);
     font-size: rem(20);
     font-weight: 600;
     color: $main-pink;
    }
 }


.characters{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: rem(43);
    &__Title{
         color: $main-pink;
         text-align: center;
         padding-top: rem(10);
         padding-bottom: rem(30);
         font-size: rem(20);
         font-weight: 600;
    
        }
    &___List{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: rem(9);
}

&___Articles{
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: rem(20);
    width: rem(200);
    height: rem(300);
    padding-bottom: rem(15);
    margin: rem(10);
    background-color: $main-yellow;
    box-shadow: 5px 5px 20px $purple; 
    border-radius: rem(7);
    &___Item{
        text-align: center;
        padding-top: rem(10);
        &--img{

            width: rem(172);
            height: rem(250);
            object-fit: cover;
        }
        &--h3{
            padding-top: rem(5);
            font-size: rem(15);
            font-weight: 700;

        }
        &--p{
            padding-top: rem(6);
            opacity: 60%;
        }
    }
}


}
.cards-lists-container{
    display: flex;
    padding-top: rem(30);
    background-color: $olive;
}

.selected{
    background-color: $main-pink;
    color: $white;  
}

:root{
    background-color: $olive;
}